{% extends "base.html" %}
{% block page_content %}
    <div class="row py-3">
        <div class="col-12">
            <h1>{{ post.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <small>
                {{ post.created_on.date }}
                {% if site_config.display_blog_categories %}
                &nbsp;|&nbsp;
                Tags:&nbsp;
                {% for category in post.categories.all %}
                <a href="{% url 'blog_category' category.name %}">
                    {{ category.name }}
                </a>&nbsp;
                {% endfor %}
                {% endif %}
            </small>
            <p>{{ post.body | safe }}</p>
            {% comment %}
            <h3>Leave a comment:</h3>
            <form action="/blog/{{ post.pk }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.author }}
                </div>
                <div class="form-group">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!--TODO: don't show comments section if there are none-->
            <h3>Comments:</h3>
            {% for comment in comments %}
            <p>
                On {{comment.created_on.date }}&nbsp;
                <b>{{ comment.author }}</b> wrote:
            </p>
            <p>{{ comment.body }}</p>
            <hr>
            {% endfor %}
            {% endcomment %}
        </div>
    </div>
{% endblock %}