{% extends "base.html" %}
{% block page_content %}
    <div class="row py-3">
        <div class="col-12">
            <h1>{{ category | title }}</h1>
        </div>
    </div>
        
    {% for post in posts %}
    <div class="row py-2">
        <div class="col-12">
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <small>{{ post.created_on.date }}</small>
            <p>{{ post.body | striptags | safe | truncatechars:400 }}</p>
            {% if site_config.display_blog_categories %}
            <small>
                Categories:&nbsp;
                {% for category in post.categories.all %}
                <a href="{% url 'blog_category' category.name %}">
                    {{ category.name }}
                </a>&nbsp;
                {% endfor %}
            </small>
            {% endif %}
        </div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}