{% extends "base.html" %}
{% load staticfiles %}
{% block page_content %}
<div class="row py-3">
    <div class="col-12">
        <h1>Contact</h1>
    </div>
</div>

<div class="row py-3">
    <div class="col-12">
        <h2 class="border-bottom">Links</h2>
    </div>
</div>
<div class="row py-3">
    {% for link in links %}
    <div class="col-12 col-md-6 order-{{ link.stacked_order }} order-md-{{ link.column_order }} py-2 d-flex flex-wrap align-items-center">
        <img src="{% static link.icon %}"  alt="" width="24" height="24" title="{{ link.site }}" class="svg-icon dark switch-dark" />&nbsp;&nbsp;{{ link.site }}:&nbsp;<a href="{{ link.URI }}" target="_blank" rel="noopener noreferrer">{{ link.username }}</a>
    </div>
    {% endfor %}
    <div class="col-12 col-md-6 order-6 order-md-6 py-2 d-flex flex-wrap align-items-center">
        <img src="{% static 'img/gmail.svg' %}"  alt="" width="24" height="24" title="Email" class="svg-icon dark switch-dark" />&nbsp;&nbsp;Email:&nbsp;<a href="mai&#108;to&#58;ad&#37;6Din%4&#48;k%65n%68%&#54;&#53;%72b%6&#53;rt&#46;dev" target="_blank" rel="noopener noreferrer">a&#100;min&#64;kenh&#101;rber&#116;&#46;dev</a>
    </div>
</div>
{% comment %}
<div class="row py-3">
    <div class="col-12">
        <h2 class="border-bottom">Email</h2>
    </div>
</div>
<div class="row py-3">
    {% for link in links %}
    <div class="col-12 col-md-6 order-{{ link.stacked_order }} order-md-{{ link.column_order }} py-2 d-flex flex-wrap align-items-center">
        <img src="../{{ link.icon }}"  alt="" width="24" height="24" title="{{ link.site }}" class="svg-icon dark switch-dark" />&nbsp;{{ link.site }}:&nbsp;<a href="{{ link.URI }}" target="_blank" rel="noopener noreferrer">{{ link.username }}</a>
    </div>
    {% endfor %}
</div>
{% endcomment %}
{% endblock %}