{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<div class="row py-3">
    <div class="col-12">
        <h1>Skills</h1>
    </div>
</div>

<div class="row py-3">
    <div class="col-12 col-md-6">
        <label for="filter" class="sr-only">Filter</label>
        <input type="text" id="filter" class="form-control" placeholder="Type to filter eg. 'web', '3d', 'python'" autofocus>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Escape to clear
          </small>
    </div>
    <div class="col-6 col-md-3" style="padding-top: 7px">
        <div class="form-check">
            <input type="checkbox" id="hide-outdated-check" class="form-check-input">
            <label class="form-check-label" for="hide-outdated-check">Show only current skills</label>
        </div>
    </div>
</div>

{% for category in categories %}
    {% if category.skills %}
    <div class="row py-3">
        <div class="col-12">
            <h2>{{ category.name }}</h2>
        </div>
    </div>
    <div class="row py-3">
        {% for skill in category.skills %}
        <div class="col-12 col-sm-6 col-lg-4 fade-fast{% if not skill.current %} outdated{% endif %}">
            <p class="card-title skill-field" data-tags="{{ skill.currentTags|lower }}">{{ skill.name }} <span class="text-muted">{% if skill.experience %}({{ skill.experience }}){% endif %}{% if not skill.current %} <a href="#outdated-disclaimer">*</a>{% endif %}</span></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endfor %}
<div class="row py-3 outdated" id="outdated-disclaimer">
    <div class="col-12">
        <p>* Skill is not current</p>
    </div>
</div>

<script>
    var filter = document.getElementById('filter');

    filter.onkeyup = function(e) {
        if(e.keyCode === 27) {
            filter.value = '';
        }

        var text = filter.value;

        var skills = document.getElementsByClassName('skill-field');

        for(var i = 0, iMax = skills.length; i < iMax; i++) {
            var tags = skills[i].getAttribute('data-tags');
            
            if(tags.match(text)) {
                skills[i].parentNode.style.opacity = 1;
            } else {
                skills[i].parentNode.style.opacity = 0.2;
            }
        }
    }


    var hideOutdatedCheckbox = document.getElementById('hide-outdated-check')
    
    hideOutdatedCheckbox.onchange = function() {
        let checked = this.checked === true;
        console.log('checkbox ' + checked)
        let outdated = document.getElementsByClassName('outdated');

        for(let i = 0; i < outdated.length; i++) {
            let element = outdated[i];

            if(checked) {
                element.classList.add('hidden');
            } else {
                element.classList.remove('hidden');
            }
        }
    }
</script>
{% endblock %}