<!DOCTYPE html>
<html lang="en">
    {% load solo_tags %}
    {% get_solo 'config.SiteConfiguration' as site_config %}
    {% include 'header.html' %}

    <div class="container">
    {% block page_content %}{% endblock %}
    </div>

    {% include 'footer.html' %}
</html>