<nav class="navbar navbar-dark fixed-bottom footer">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <span class="navbar-text">Copyright © 2012-2023 Ken Herbert</span>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/privacy/">Privacy Policy</a>
            </li>
        </ul>
    </div>
</nav>