<head>
    <title>{%if flatpage.title %}
    {{ flatpage.title }}
    {% else %}
    {{ title }}
    {% endif %} - {{ site_config.site_name }}</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/kh-logo.png' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="Description" content="{{ page_description }}">
    <script src="{% static 'js/common.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<nav id="navbar-primary" class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/kh-logo-light.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if site_config.display_cv %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'career_history' %}">Career History</a>
                </li>
                {% endif %}
                {% if site_config.display_skills %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'skills' %}">Skills</a>
                </li>
                {% endif %}
                {% if site_config.display_blog %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
                </li>
                {% endif %}
                {% if site_config.display_projects %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project_index' %}">Projects</a>
                </li>
                {% endif %}
                {% if site_config.display_software %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'software_index' %}">Software</a>
                </li>
                {% endif %}
                {% if site_config.display_contact %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About Me</a>
                </li>
            </ul>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="dark-mode">
                <label class="custom-control-label" for="dark-mode">Dark mode</label>
              </div>
        </div>
    </div>
</nav>