<!DOCTYPE html>
<html lang="en">
    {% load solo_tags %}
    {% get_solo 'config.SiteConfiguration' as site_config %}
    {% include 'header.html' %}

    <div class="container">
        <div class="row py-3">
            <div class="col-12">
                <h1>{{ flatpage.title }}</h1>
            </div>
        </div>

        {{ flatpage.content }}
    </div>

    {% include 'footer.html' %}
</html>