html {
    min-height: 100%;
    position: relative;
}
body {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
#navbar-primary {
    margin-bottom: 3rem;
}
.navbar .custom-control-label {
    color: rgba(255, 255, 255, .7);
}
.navbar .text-muted {
    color: rgba(255, 255, 255, .7) !important;
}
.navbar.footer {
    margin-top: 3rem;
    font-size: small;
    padding-top: 0;
    padding-bottom: 0;
}
h1, h2, h3, h4 {
    color: #3F4452;
}

.svg-icon.light {
    filter: invert(44%) sepia(10%) saturate(1037%) hue-rotate(186deg) brightness(191%) contrast(183%);
}
.svg-icon.dark {
    filter: invert(24%) sepia(10%) saturate(1037%) hue-rotate(186deg) brightness(91%) contrast(83%);
}
.dark-mode .svg-icon.light.switch-dark {
    filter: invert(44%) sepia(10%) saturate(1037%) hue-rotate(186deg) brightness(191%) contrast(183%);
}
.dark-mode .svg-icon.dark.switch-dark {
    filter: invert(44%) sepia(10%) saturate(1037%) hue-rotate(186deg) brightness(191%) contrast(183%);
}
.btn-icon {
    width: 24px;
    vertical-align: text-bottom;
}
.available-platforms {
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
    float: right;
}
.dark-mode .available-platforms {
    background-color: #ddd;
}
.platform-icon {
    width: 24px;
}
.feed-icon {
    width: 20px;
    margin-top: -7px;
    margin-right: 5px;
}
.dark-mode .feed-icon {
    filter: invert(44%) sepia(10%) saturate(1037%) hue-rotate(186deg) brightness(191%) contrast(183%);
}
.dark-mode .modal-content {
    background-color: #555c6e;
}
.dark-mode .modal-header .close {
    color: #ddd;
    text-shadow: 0 1px 0 #333;
}
.text-muted {
    color: #686d7b!important;
}


.btn-primary {
    background-color: #3F4452 !important;
    border-color: #3F4452 !important;
}
.btn-primary:hover {
    background-color: #21242c !important;
    border-color: #21242c !important;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: .8rem;
        padding-right: .8rem;
    }
}

body.dark-mode {
    background-color: #555c6e;
    color: #ddd;
}
.navbar.navbar-dark {
    background-color: #3F4452;
}
.navbar-dark .navbar-text,
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .9);
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4 {
    color: #eee;
}
body.dark-mode .text-muted {
    color: #ccc !important;
}
body.dark-mode .card {
    border-color: #686d7b;
}
body.dark-mode .card-body {
    background-color: #555c6e;
}
body.dark-mode a {
    color: #87cefa;
}
body.dark-mode a:hover {
    color: #00a2ff;
}
body.dark-mode input[type="text"] {
    background-color: #eee;
    color: #111;
}
body.dark-mode code {
    color: rgb(255, 217, 223);
}
body.dark-mode .table th,
body.dark-mode .table td {
        border-color: #454d55;
    color: #fff;
}
body.dark-mode .list-group a {
    background-color: #545b62;
}
body.dark-mode .list-group a:focus,
body.dark-mode .list-group a:hover {
    background-color: #6c757d;
}
body.dark-mode .accordion .card-header {
    background-color: #6c757d;
}
body.dark-mode .accordion .card-header .btn {
    color: #dff3ff;
}

.fade-fast {
    transition: opacity 0.4s;
}
.hidden {
    display: none !important;
}