{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <script src="https://cdn.jsdelivr.net/npm/axios@0.27.2/dist/axios.min.js"></script>

    <script>
        // Solution adapted from here: https://python.tutorialink.com/how-to-track-download-link-in-django/
        function downloadFile(fileUrl, releaseId, downloadType) {
            axios({
                method: "GET",
                url: fileUrl,
                responseType: 'blob',
                onDownloadProgress: event => {
                    if(event.loaded === event.total) {
                        axios({
                            method: "GET",
                            url: `/software/metadata/${releaseId}/${downloadType}`,
                        })
                        .catch(error => console.log(error));
                    }
                }
            }).then(response => {
                const filePath = response.request.responseURL.split('/');
                const fileName = filePath[filePath.length - 1];
                const aTag = document.createElement('a');

                aTag.href = URL.createObjectURL(response.data);
                aTag.download = fileName;

                aTag.click();
                aTag.remove();
            });
        }
    </script>

    <div class="row py-3">
        <div class="col-12">
            <h1>{{ app.name }}</h1>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-12{% if app.image and not app.hide_cover_in_details %} col-md-8{% endif %}">
            <p class="pb-2">{{ app.description | safe | linebreaksbr }}</p>
            <br>
            <p class="pb-2">{{ app.name }} is released under the {{ app.licence_display }} licence.</p>
            <p>The source code can be found at <a href="{{ app.source_link }}" target="_blank" rel="external noopener">{{ app.source_link }}</a>.</p>
        </div>
        {% if app.image and not app.hide_cover_in_details %}
        <div class="col-12 col-md-4">
            <img src="{{ app.image.url }}" alt="" width="100%">
        </div>
        {% endif %}
    </div>
    <div class="row pt-4">
        <div class="col-12">
            <h2>Latest release&nbsp;&nbsp;<small>{{ latest_release.version }}</small></h2>
            <p class="pb-2">Released {{ latest_release.formatted_release_date }}</p>
        </div>
    </div>
    <div class="row py-3">
    {% if latest_release.windows_file_location %}
        <div class="col-12 col-md-4">
            <button onclick="downloadFile('../../media/{{ latest_release.windows_file_location }}', {{ latest_release.id }}, 'WIN')" class="btn btn-primary btn-block">Download {{ latest_release.version }} for Windows&nbsp;&nbsp;<img src="../../static/img/windows.svg" class="svg-icon btn-icon light"><br><small>{{ latest_release.windows_filesize }}</small></button>
            <small>Downloaded {{ latest_release.windows_downloads_total }} time{% if latest_release.windows_downloads_total != 1 %}s{% endif %}</small>
        </div>
    {% endif %}
    {% if latest_release.portableapps_official_release_location %}
        <div class="col-12 col-md-4">
            <a href="{{ latest_release.portableapps_official_release_location }}" class="btn btn-primary btn-block" target="_blank" rel="noopener external">Available from PortableApps&nbsp;&nbsp;<img src="../../static/img/_pac_logo_silhouette.png" class="svg-icon btn-icon light"><br><small>&nbsp;</small></a>
        </div>
    {% elif latest_release.portableapps_file_location %}
        <div class="col-12 col-md-4">
            <button onclick="downloadFile('../../media/{{ latest_release.portableapps_file_location }}', {{ latest_release.id }}, 'PAP')" class="btn btn-primary btn-block">Download {{ latest_release.version }} for PortableApps&nbsp;&nbsp;<img src="../../static/img/_pac_logo_silhouette.png" class="svg-icon btn-icon light"><br><small>{{ latest_release.portableapps_filesize }}</small></button>
            <small>Downloaded {{ latest_release.portableapps_downloads_total }} time{% if latest_release.portableapps_downloads_total != 1 %}s{% endif %}</small>
        </div>
    {% endif %}
    {% if latest_release.mac_file_location %}
        <div class="col-12 col-md-4">
            <button onclick="downloadFile('../../media/{{ latest_release.mac_file_location }}', {{ latest_release.id }}, 'MAC')" class="btn btn-primary btn-block">Download {{ latest_release.version }} for Mac&nbsp;&nbsp;<img src="../../static/img/apple.svg" class="svg-icon btn-icon light"><br><small>{{ latest_release.mac_filesize }}</small></button>
            <small>Downloaded {{ latest_release.mac_downloads_total }} time{% if latest_release.mac_downloads_total != 1 %}s{% endif %}</small>
        </div>
    {% endif %}
    </div>
    <div class="row py-3">
        <div class="col-12 col-md-8">
            <p class="pb-2"><button class="btn btn-secondary btn-small" data-toggle="modal" data-target="#change-log">View changelog</button></p>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-12">
            <a href="/software/{{ app.slug }}/feed/" target="_blank">
                <img src="{%static '/img/logo-rss.svg' %}" class="feed-icon">Release RSS feed for {{ app.name }}
            </a>
        </div>
    </div>

    {% if show_old_releases %}
    <div class="row pt-4">
        <div class="col-12">
            <h2>Older releases</h2>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Metadata</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
            {% for release in releases %}
                <tr>
                    <td>{{ release.version }}</td>
                    <td>
                        Released {{ release.formatted_release_date }}
                        <br>
                        Downloaded {{ release.downloads_total }} time{% if release.downloads_total != 1 %}s{% endif %}
                    </td>
                    <td>

                    {% if release.windows_file_location %}
                        <button onclick="downloadFile('../../media/{{ release.windows_file_location }}', {{ release.id }}, 'WIN')" class="btn btn-primary btn-sm">
                            Download for Windows&nbsp;&nbsp;<img src="../../static/img/windows.svg" class="svg-icon btn-icon light">
                            <br>
                            <small>{{ release.windows_filesize }}</small>
                        </button>
                    {% endif %}
                    {% if release.portableapps_file_location %}
                        <button onclick="downloadFile('../../media/{{ release.portableapps_file_location }}', {{ release.id }}, 'PAP')" class="btn btn-primary btn-sm">
                            Download for PortableApps&nbsp;&nbsp;<img src="../../static/img/_pac_logo_silhouette.png" class="svg-icon btn-icon light">
                            <br>
                            <small>{{ release.portableapps_filesize }}</small>
                        </button>
                    {% endif %}
                    {% if release.mac_file_location %}
                        <button onclick="downloadFile('../../media/{{ release.mac_file_location }}', {{ release.id }}, 'MAC')" class="btn btn-primary btn-sm">
                            Download for Mac&nbsp;&nbsp;<img src="../../static/img/apple.svg" class="svg-icon btn-icon light">
                            <br>
                            <small>{{ release.mac_filesize }}</small>
                        </button>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {%if app.command_line_parameters %}
    <div class="row pt-4">
        <div class="col-12">
            <h3>Command Line Parameters</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ app.command_line_parameters | safe }}
        </div>
    </div>
    {%endif %}

    <div class="modal" tabindex="-1" id="change-log">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Release notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>{{ latest_release.version }} <small class="text-muted">(released {{ latest_release.formatted_release_date}})</small></h2>
                {{ latest_release.release_notes | safe }}

                {% if releases %}
                    {% for release in releases %}
                        <h2>{{ release.version }} <small class="text-muted">(released {{ release.formatted_release_date}})</small></h2>
                        {% if release.release_notes %}
                            {{ release.release_notes | safe }}
                        {% else %}
                            <ul><li>No details for this version</li></ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}