{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="row py-3">
        <div class="col-12">
            <h1>Software</h1>
        </div>
    </div>

    <div class="row py-3">
        {% for app in software %}
            {% if app.displayed and app.has_releases %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card mb-2">
                    {%if app.image %}
                        <img class="card-img-top" src="{{ app.image.url }}">
                    {%endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ app.name }}</h5>
                        <p class="card-text">{{ app.description | safe | truncatechars_html:120 }}</p>
                        <a href="{% url 'software_detail' app.slug %}" class="btn btn-primary stretched-link">Read More</a>
                        <div class="available-platforms">
                            {% if app.available_for_windows %}
                                <img class="platform-icon" src="{% static 'img/windows.svg' %}" title="Available for Windows">
                            {% endif %}
                            {% if app.available_for_mac %}
                                <img class="platform-icon" src="{% static 'img/apple.svg' %}" title="Available for Mac">
                            {% endif %}
                            {% if app.available_for_portableapps %}
                                <img class="platform-icon" src="{% static 'img/_pac_logo_silhouette_dark.png' %}" title="Available for PortableApps">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}