{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <div class="row py-3">
        <div class="col-12">
            <h1>{{ project.title }}</h1>
        </div>
    </div>

    <div class="row py-3">
        {% if not project.obsolete %}
        <div class="col-12 col-md-6">
            <img src="{{ project.image.url }}" alt="{{ project.title }} screenshot" width="100%">
        </div>
        <div class="col-12 col-md-6">
        {% else %}
        <div class="col-12">
        {% endif %}
            <h4>About the project:</h4>
            <p class="pb-2">{{ project.description|safe|linebreaksbr }}</p>
            <br>
            <h4>Timeline:</h4>
            <p class="pb-2">{{ project.timeline|linebreaksbr }}</p>
            <br>
            <h4>Technology used:</h4>
            <p class="pb-2">{{ project.technology }}</p>
            <br>
            {% if not project.obsolete %}
            <h4>Link:</h4>
            <p>{{ project.formatted_url|safe }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}