{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<div class="row py-3">
    <div class="col-12">
        <h1>Recent Projects</h1>
    </div>
</div>

{% if current_projects %}
<div class="row py-3">
    {% for project in current_projects %}
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{{ project.image.url }}" alt="{{ project.title }} screenshot">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description|safe|truncatechars_html:115 }}</p>
                <a href="{{ project.get_absolute_url }}" class="btn btn-primary stretched-link">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if obsolete_projects %}
<div class="row py-2"></div>
<div class="row py-2"></div>
<div class="row py-2"></div>
<div class="row py-2">
    <div class="col-12">
        <h1>Retired &amp; Obsolete Projects</h1>
    </div>
</div>

<div class="row py-3">
    {% for project in obsolete_projects %}
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                 <p class="card-text">{{ project.description|safe|truncatechars_html:115 }}</p>
                <a href="{{ project.get_absolute_url }}" class="btn btn-primary stretched-link">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}