{% extends "base.html" %}
{% block page_content %}
<div class="row py-3">
    <div class="col-12">
        <h1>Career History</h1>
    </div>
</div>

{% if filters %}
<div class="row py-3">
    <div class="col-12">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="cv-filter" id="cv-filter-all" value="all" checked onchange="filterPositions(this)"> All
            </label>
            {% for filter in filters %}
            <label class="btn btn-secondary active">
                <input type="radio" name="cv-filter" id="cv-filter-{{ forloop.counter }}" value="{{ filter.name }}" onchange="filterPositions(this)"> {{ filter.name }}
            </label>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% for position in positions %}
<div class="position-field fade-fast" data-filter-categories="{% for category in position.categories.all %}|{{ category.name }}|{% endfor %}">
    <div class="row py-3">
        <div class="col-12 col-lg-10">
            <h3>{{ position.position }}
                <small>{% if position.tags %}
                    [{{position.tags|join:", "|lower}}]
                {% endif %}</small>
                <small class="text-muted">{{ position.employer }}</small>
            </h3>
        </div>
        <div class="col-12 col-lg-2 text-right">
            {% if position.start_date.year == position.end_date.year %}
                <h4>{{ position.start_date|date:"Y" }}</h4>
            {% else %}
                <h4>{{ position.start_date|date:"Y" }}-{% if position.end_date %}{{ position.end_date|date:"Y" }}{% else %}current{% endif %}</h4>
            {% endif %}
        </div>
        {% if position.responsibilities %}
        <div class="col-12">
            Responsibilities:&nbsp;
            <ul>
            {% for responsibility in position.responsibilities.all %}
                <li>{{ responsibility.body }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}

<script>
    function filterPositions(el) {
        var positions = document.getElementsByClassName('position-field');

        for(var i = 0, iMax = positions.length; i < iMax; i++) {
            if(el.value === 'all') {
                positions[i].style.opacity = 1;
            } else {
                var tags = positions[i].getAttribute('data-filter-categories');

                if(tags.match(`\\|${el.value}\\|`)) {
                    positions[i].style.opacity = 1;
                } else {
                    positions[i].style.opacity = 0.2;
                }
            }
        }
    }
</script>
{% endblock %}